.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    margin-top: 3rem;

    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 3rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    transition: color 0.15s ease, border-color 0.15s ease;

    position: relative;
}


.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card a{
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
}

.scroll_sock{
  background-image: url("../public/toddterje_scrollanimation.png");
  background-color: #0092ff;
}

.scrollanimal{
  width: 512px;
  height: 256px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
}


/* CONTACT & MISC */

.topanim, .topanim_contact, .topanim_misc {
	width: 512px;
	height: 256px;
	background-size: cover;
	margin:0 auto;
	position: relative;
	bottom:0;
	left: 0;
	right: 0;
    -webkit-animation: topplay_contact 0.6s steps(4) infinite;
    animation: topplay_contact 0.6s steps(4) infinite;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.topanim{
	background-image: url("../public/toddterje_cloud.png");
  background-color: #0092ff;
}


@-webkit-keyframes topplay_contact {
   from { background-position: 0px  0%;}
     to { background-position: 0px 100%;}
}
@keyframes topplay_contact {
   from { background-position: 0px 0%;}
     to { background-position: 0px 100%;}
}


.element{
  background-position-x: 0px;
  background-position-y: 0px;

}

/* MENU ANIMS */

#menucontact_icon{
	width:256px;
	height: 128px;
	margin: 0 auto;
	margin-top: 10vh;
	background-size: cover;
}


#menucontact_icon{
	background-image: url("../public/toddterje_contact.png");
}

#menumusic:hover #menumusic_icon, #menumisc:hover #menumisc_icon, #menumisc_2:hover #menumisc_icon_2, #menustore:hover #menustore_icon, #menucontact:hover #menucontact_icon{
	-webkit-animation: icon_hover 0.6s steps(9) both;
    animation: icon_hover 0.6s steps(9) both;
}

@-webkit-keyframes icon_hover {
   from { background-position: 0%   0%;}
     to { background-position: 0% 100%;}
}
@keyframes icon_hover {
   from { background-position: 0% 0%;}
     to { background-position: 0% 100%;}
}



#skrekkogle_logo:hover{
	-webkit-animation: skrekk_hover 0.6s steps(9) both;
    animation: skrekk_hover 0.6s steps(9) both;
}
@-webkit-keyframes skrekk_hover {
   from { background-position: 0px  0px;}
     to { background-position: 0px -576px;}
}
@keyframes skrekk_hover {
   from { background-position: 0px   0px;}
     to { background-position: 0px -576px;}
}


/* MENU ANIMS SLUTT */